<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ zbxDBHost }}';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ zbxdbname }}';
$DB['USER']     = 'zabbix';
$DB['PASSWORD'] = '{{ zbxdbpassword }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ zbxSourceIP }}';
$ZBX_SERVER_PORT = '{{ zbxListenPort }}';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
